/* Định dạng cho Link đang được chọn */
.active-link {
  background-color: #4f46e5 !important; /* Indigo-600 */
  color: white !important;
  box-shadow: 0 10px 15px -3px rgba(79, 70, 229, 0.3);
}

.active-link i {
  color: white !important;
}

/* Custom Scrollbar cho Sidebar và Main Content */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
main.custom-scroll::-webkit-scrollbar-thumb {
  background: #e2e8f0;
}