.custom-scroll::-webkit-scrollbar { width: 4px; }
.custom-scroll::-webkit-scrollbar-thumb { background: #f1f1f1; border-radius: 10px; }
.custom-scroll::-webkit-scrollbar-thumb:hover { background: #e2e8f0; }

input:focus, select:focus, textarea:focus {
  background-color: white !important;
  box-shadow: 0 10px 25px -5px rgba(79, 70, 229, 0.1);
  border: 1px solid #6366f1;
}